.timeline {
  overflow-x: scroll;
  white-space: nowrap;
  /* min-height: 36rem; */
  width: 100%;
  /* background: lightpink; */
  padding-bottom: .4rem;
  /* border-bottom: 3px solid black; */
}
.timeline-yaxis {
  /* background: blue; */
  /* width: 10rem; */
  color: lightsteelblue;
  overflow-y: hidden;
  padding-left: 3.6rem;
  margin-bottom: 3.2rem;
  padding-bottom: 4px;
  border-right: 4px solid white;
}
.timeline-yaxis-segment {
  position: relative;
  min-height: 7.4rem;
  min-width: .5rem;
  /* background: teal; */
  border-top: 3px solid white;
}
.timeline-yaxis-string {
  text-align: right;
  position: absolute;
  width: 4rem;
  /* background: lightblue; */
  top: 1.5rem;
  right: .3rem;
}
.timeline-yaxis-string-descrip {
  font-size: .7rem
}
.timeline-year {
  /* background: lightpink; */
}
.timeline-year-content {
  /* width: 100%; */
  /* background: white; */
  padding-right: .3rem;
  border-bottom: 4px solid white;
}
.timeline-year-label {
  /* background: blue; */
  padding-top: .2rem;
  /* padding-bottom: .3rem; */
  color: #F5F5F5;
  height: 2.8rem;
  min-width: 4rem;
  text-align: center;
}
.timeline-year-label-sub {
  font-size: .7rem;
  color: #D3D3D3;
}
.timeline-year-segment {
  font-size: .6rem;
  overflow-x: hidden;
  width: 10rem;
  min-height: 7.4rem;
}
.timeline-year-segment img {
  height: 1rem;
  width: 1rem;
  margin-right: 2px;
  /* border: 1px solid black; */
}
.timeline-year-top-rounded {
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.timeline-yaxis-color-0 {
  color: #ffb3ba;
}
.timeline-yaxis-color-1 {
  color: #ffd2b3;
}
.timeline-yaxis-color-2 {
  color: #fff8b3;
}
.timeline-yaxis-color-3 {
  color: #baffb3;
}
.timeline-yaxis-color-4 {
  color: #bae1ff;
}
.timeline-year-color-0 {
  border: .2rem solid #ffb3ba;
  background: #ffb3ba;
}
.timeline-year-color-1 {
  border: .2rem solid #ffd2b3;
  background: #ffd2b3;
}
.timeline-year-color-2 {
  border: .2rem solid #fff8b3;
  background: #fff8b3;
}
.timeline-year-color-3 {
  border: .2rem solid #baffb3;
  background:	#baffb3;
}
.timeline-year-color-4 {
  border: .2rem solid #bae1ff;
  background: #bae1ff;
}
.timeline-header-color-1 {
  color: #ff7f7f;
}
.timeline-header-color-2 {
  color: #ffb481;
}
.timeline-header-color-3 {
  color: #fffa8b;
}
.timeline-header-color-4 {
  color: #9cff86;
}
.timeline-header-color-5 {
  color: #89d8ff;
}